@media screen and (max-width: 768px) {
  footer {
    background-position: -160px;
    /*
    height: 50%;
    width: 50%;
    */
  }

  /* add display none for copyright */
}
 .footer-form form h1 {
   margin-top: 20px;
   font-size: 30px;
 }

footer .form-flex-container {
  background-image: url(jpg/footer-bk.png);
  background-size: cover;
  width: 100%;
  min-width: 300px;
  height: ;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
 
}

.footer-form ::placeholder {
  font-size: 15px;
  margin-left: 30px;
}

.footer-form input,
textarea {
  min-width: 150px;
  width: 70%;
  font-size: 15px;
  padding: 5px;
  margin: 2px 10px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  font-family: Creo;
  font-weight: lighter;
  background-color: whitesmoke;
}

textarea {
  height: 60px;
}

.footer-form {
  font-family: Creo;
  color: whitesmoke;
  display: flex;
  margin-top: 10px;
}

.footer-form button {
  width: 120px;
  height: 30px;
  background-color: transparent;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}

.footer-form button a {
  text-decoration: none;
  font-family: Creo;
  color: whitesmoke;
}

.footer-form button a:hover {
  color: #ff6347;
}

form {
  display: block;
  align-items: center;
  width: 40%;
  height: 500px;
}

form h1 {
  font-size: 15px;
  font-weight: lighter;
}

form p {
  font-size: 18px;
  font-weight: lighter;
}

@media screen and (max-width: 768px) {
  .footer-information {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #ffbf00ab;
  }
}
.footer-information {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffbf00ab;
  margin-top: 0px;
}

@media screen and (max-width: 850px) {
  .footer-logo img {
    display: none;
  }
  .textformfooter {
    display: none;
  }
}

.ulfooter {
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: start;
}

.lifooter {
  width: 33%;
  padding: 10px;
}

.footer-information a {
  text-decoration: none;
  font-size: 12px;
  color: white;
  font-family: Roboto;
  font-weight: bolder;
}

.footer-information a:hover {
  color: #ff6347;
}

.social-media h3,
.social-media h4 {
  font-size: 16px;
  color: black;
  font-family: Roboto;
  margin-left: 0px;
  font-weight: normal;
}

.social-media {
  min-width: 200px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.copyright {
  display: flex;
}

.copyright h4 {
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .copyright {
    display: none;
  }
}
