body {
  background-color: whitesmoke;
  margin: 0 auto;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Playfair+Display&family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap");

.superheader {
  height: 94vh;
  overflow: scroll;
}

.superheader a, .header---detailpg a {
  color: white;
}
.superheader a:hover, .header---detailpg a:hover {
  text-decoration: none;
  color: tomato;
  cursor: url("./jpg/pointer.png"), default;
}

.header--landingpg {
  background-image: url("./jpg/avocadoheader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 180vh;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  overflow: scroll;
}

.logo-easypeasy {
  width: 40%;
  height: 40%;
  min-width: 50px;
  min-height: 50px;
}

.logo--wrapper {
  width: 20%;
}

.nav---landinpg {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.nav--content {
  width: 70%;
  display: flex;
  align-items: center;
}

.wrapper--menu--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 0 !important;
}

.nav--menu--item:hover {
  color: #e27045;
  cursor: url("./jpg/pointer.png"), default;
}

nav img {
  height: 35px;
  width: 35px;
}


.welcome--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0 0 2% 0;
  margin: 5% 15%;
}

.welcome--title {
  font-family: "Roboto Condensed", sans-serif;
  color: #524848;
  font-size: 60px;
  text-align: center;
}

.welcome--subtitle {
  font-family: "Roboto Condensed", sans-serif;
  color: #524848;
  font-size: 20px;
  line-height: 1.8;
  word-spacing: 3px;
  text-align: center;
}
.welcome--p {
  font-family: "Roboto Condensed", sans-serif;
  width: 70%;
  text-align: center;
  font-size: large;
  color: #585151;
  line-height: 1.8;
  word-spacing: 3px;
}

.welcome-button {
  color: tomato;
  border: 1px solid tomato;
  padding: 1%;
  border-radius: 5%;
  font-family: "Dancing Script", cursive;
  font-size: large;
  font-weight: bold;
}

.welcome-button:hover {
  cursor: pointer;
}

.aboutus--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 10% 15% 5% 15%;
}

.aboutus--title {
  font-family: "Roboto Condensed", sans-serif;
  color: #524848;
  font-size: 30px;
  padding: 5%;
}

.aboutus--p {
  font-family: "Roboto Condensed", sans-serif;
  color: #585151;
  width: 100%;
  text-align: start;
  font-size: large;
  line-height: 1.8;
  word-spacing: 3px;
}

.aboutus--pwrapper {
  width: 60%;
}

.wrapper-instafood {
  display: flex;
  justify-content: center;
}

.instafood {
  font-family: "Dancing Script", cursive;
  color: #ff009a;
  font-size: xx-large;
}

.fixed-top {
  margin-left: 90%;
}

.sidemenuimg1 {
  margin-top: 20%;
}

.sidemenuimg2 {
  margin-top: 25%;
}

.sidemenuimg3 {
  margin-top: 30%;
}

.sidemenuimg2:hover {
  cursor: url("./jpg/tagvegetarian.png"), default;
}
.sidemenuimg3:hover {
  cursor: url("./jpg/tagmeatlovers.png"), default;
}

.sidemenuimg1:hover {
  cursor: url("./jpg/tagvegan.png"), default;
}

.iconmenu {
  margin-left: 10%;
  width: 40px;
  height: 40px;
  background-image: url(./jpg/logomenulines.png);
}

.navhidden {
  display: none;
}

@media screen and (max-width: 900px) {
  div.navhidden {
    display: block;
    position: fixed;
  }

  .backgroundhiddemenu {
    background-color: rgba(255, 99, 71, 0.527);
    padding-left: 5px;
  }

  div.nav--content {
    display: none;
  }

  div.wrap-sidemenu {
    display: none;
  }

  div.aboutus--wrapper {
    display: block;
    text-align: center;
  }
  div.aboutus--pwrapper {
    display: block;
    margin: 0 auto;
  }

  div.aboutus--p {
    width: 90%;
    text-align: center;
  }

  div.aboutus--title {
    text-align: center;
  }
}
